* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font: 13px/1.5 \5FAE\8F6F\96C5\9ED1, simsun, sans-serif;
}

.header {
    width: 1000px;
    height: 78px;
    margin: 0 auto;
    .header-left {
        float: left;
        h1 {
            float: left;
            a img {
                padding-top: 20px;
            }
        }
        .search {
            float: right;
            width: 290px;
            border: 1px solid #ccc;
            margin-left: 50px;
            margin-top: 20px;
            input {
                width: 249px;
                height: 24px;
                line-height: 24px;
                padding: 5px 0;
                color: #666;
                outline: none;
                border: 0;
                padding-left: 10px;
            }
            i {
                padding-right: 5px;
                &:hover {
                    color: #169af3;
                }
            }
        }
    }
    .header-right {
        float: right;
        width: 402px;
        margin-top: 35px;
        ul {
            float: left;
            width: 250px;
            padding-right: 14px;
            border-right: 1px solid #e6e6e6;
            li {
                float: left;
                padding: 0 15px;
                a {
                    color: #777;
                }
                &:hover a {
                    color: #169af3;
                }
            }
        }
        .login {
            float: right;
            margin-top: -5px;
            a {
                width: 48px;
                height: 28px;
                padding: 5px 10px;
                line-height: 28px;
                border: 1px solid #169af3;
                border-radius: 2px;
                color: #fff;
                background-color: #169af3;
            }
            .log {
                &:hover {
                    color: #fff;
                    border: 1px solid #158fe1;
                    background-color: #158fe1;
                }
            }
            .reg {
                border: 1px solid #dbdbdb;
                background-color: #fff;
                margin-left: 10px;
                color: #777;
                &:hover {
                    border: 1px solid #009af3;
                    background-color: #fff;
                    color: #009af3;
                }
            }
        }
    }
}

.nav {
    width: 100%;
    height: 55px;
    background-color: #2c323b;
    .nav-l {
        width: 1000px;
        margin: 0 auto;
        .nav-left {
            float: left;
            >li {
                float: left;
                a {
                    font-size: 16px;
                    color: #ddd;
                    padding: 0 38px;
                    line-height: 55px;
                }
                &:first-child {
                    background-color: #0c8ed9;
                    color: #fff;
                }
                &:last-child {
                    >a {
                        background: url(http://static.kgimg.com/public/root/images/arrowMored.png) no-repeat no-repeat 80px;
                        &:hover {
                            background: url(http://static.kgimg.com/public/root/images/arrowMoreu.png) no-repeat no-repeat 80px;
                        }
                    }
                    .gengduo {
                        position: absolute;
                        display: none;
                        height: 146px;
                        background-color: #252a32;
                        z-index: 2;
                        li {
                            width: 108px;
                            height: 36px;
                            text-align: center;
                            a {
                                line-height: 36px;
                                font-size: 15px;
                                color: #bbb;
                            }
                            &:hover {
                                background-color: #2D343D;
                            }
                        }
                    }
                }
                &:last-child:hover .gengduo {
                    display: block;
                }
                &:hover {
                    background-color: #0c8ed9;
                    color: #fff;
                }
            }
        }
        .nav-right {
            float: right;
            margin-top: 16px;
            li {
                display: inline-block;
                margin-left: 30px;
                a {
                    color: #bbb;
                    font-size: 13px;
                    padding-left: 20px;
                    background: url(http://static.kgimg.com/public/root/images/sprite.png);
                    &:hover {
                        color: #14a9ff;
                    }
                }
                &:first-child a {
                    background-position: 0 -119px;
                    &:hover {
                        background-position: 0 -101px;
                    }
                }
                &:nth-child(2) a {
                    background-position: 0 -155px;
                    &:hover {
                        background-position: 0 -137px;
                    }
                }
                &:nth-child(3) a {
                    background-position: 0 -191px;
                    &:hover {

                        background-position: 0 -173px;
                    }
                }
                &:nth-child(4) a {
                    background-position: 0 -226px;
                    &:hover {
                        background-position: 0 -208px;
                    }
                }
                &:last-child a {
                    background-position: 0 -281px;
                    &:hover {
                        background-position: 0 -245px;
                    }
                }
            }
        }
    }
}



.lunbotu {
    position: relative;
    width: 1270px;
    height: 500px;
    overflow: hidden;
    z-index: 1;
    .lunbo {
        li {
            position: absolute;
            img {
                display: none;
                position: absolute;
                height: 500px;
                left: -320px;
            }
            &:first-child img {
                display: block;
            }
        }
    }
    .lol {
        position: absolute;
        width: 100%;
        bottom: 80px;
        margin: 0 auto;
        text-align: center;
        a {
            display: inline-block;
            width: 12px;
            height: 10px;
            color: #fff;
            font-size: 0;
            background: url(http://static.kgimg.com/public/root/images/sprite.png);
            background-position: 0 -22px;
        }
        .active {
            background-position: 0 -37px;
        }
    }
    >a {
        display: none;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        width: 60px;
        height: 120px;
        background: url(http://static.kgimg.com/public/root/images/sprite.png);
    }
    .lunbo-left {
        left: 0;
        background-position: 0 -755px;
        &:hover {
            background-position: 0 -880px;
        }
    }
    .lunbo-right {
        right: 0;
        background-position: 0 -1130px;
        &:hover {
            background-position: 0 -1005px;
        }
    }
    .lunbo-xia {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: rgba(0, 0, 0, .3);
        a {
            display: inline-block;
            width: 130px;
            padding: 0 30px;
            color: #fff;
            font-size: 15px;
            &:first-child {
                background: url(http://static.kgimg.com/public/root/images/pc.png) no-repeat left;
            }
            &:nth-child(2) {
                background: url(http://static.kgimg.com/public/root/images/mac.png) no-repeat left;
            }
            &:last-child {
                background: url(http://static.kgimg.com/public/root/images/andriod.png) no-repeat left;
                margin-left: 30px;
            }
        }
        span {
            height: 14px;
            border: 1px solid rgba(255, 255, 255, .2);
        }
    }
    &:hover>a {
        display: block;
    }
}

@mixin tian {
    >p {
        position: absolute;
        right: 0;
        width: 152px;
        height: 30px;
        color: #fff;
        line-height: 30px;
        text-align: right;
        background: url(http://static.kgimg.com/public/root/images/cptTBg.png) no-repeat;
        i {
            display: inline-block;
            width: 14px;
            height: 14px;
            padding-right: 15px;
            background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
            background-position: 0 -267px;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
    .content-1-left-tu1-di {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 38px;
        padding: 6px 8px;
        background: rgba(0, 0, 0, .5);

        p:first-child {
            display: block;
            width: 70%;
            color: #fff;
            font-size: 14px; // ????????????????
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        p:last-child {
            display: block;
            width: 70%;
            color: #cfcfcf;
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .shadow {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        .shadow-fang {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 36px;
            height: 36px;
            background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
            background-position: 0px -401px;
        }
    }
    &:hover .shadow {
        display: block;
    }
}

@mixin tian1 {

    img {
        float: left;
        width: 98px;
        height: 98px;
    }
    .content-list {
        float: left;
        width: 200px;
        height: 68px;
        font-size: 14px;
        padding: 15px 10px;
        dl {
            dt {
                color: #333;
                font-weight: 700;
            }
            dd {
                width: 180px;
                color: #555;
                line-height: 24px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    .shadow2 {
        display: none;
        position: absolute;
        width: 98px;
        height: 98px;
        background: rgba(0, 0, 0, .3);
        div {
            width: 36px;
            height: 36px;
            margin: 0 auto;
            margin-top: 30px;
            background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
            background-position: 0px -401px;
        }
    }
    span {
        position: absolute;
        right: 10px;
        top: 50%;
        width: 7px;
        height: 14px;
        background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
        background-position: 0 -322px;
    }
    &:hover .shadow2 {
        display: block;
    }
}

.content-1 {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    .content-1-left {
        width: 660px;
        height: 390px;
        float: left;
        .content-1-left-top {
            width: 100%;
            height: 30px;
            line-height: 60px;
            padding-bottom: 30px;
            span {
                float: right;
            }
        }
        .content-1-left-tu {
            .content-1-left-tu1 {
                position: relative;
                float: left;
                width: 325px;
                height: 325px;
                margin: 0 5px 5px 0;

                overflow: hidden;
                @include tian;
            }
            .content-1-left-tu2 {
                position: relative;
                float: left;
                top: 0;
                width: 160px;
                height: 160px;
                margin: 0 5px 5px 0;

                overflow: hidden;
                @include tian;
            }
            .content-1-left-tu3 {
                position: relative;
                float: left;
                top: 0;
                width: 160px;
                height: 160px;
                margin: 0 5px 5px 0;

                overflow: hidden;
                @include tian;
            }
            .content-1-left-tu4 {
                position: relative;
                float: left;
                top: 0;
                width: 160px;
                height: 160px;
                margin: 0 5px 5px 0;
                overflow: hidden;
                @include tian;
            }
            .content-1-left-tu5 {
                position: relative;
                float: left;
                top: 0;
                width: 160px;
                height: 160px;
                margin: 0 5px 5px 0;

                overflow: hidden;
                @include tian;
            }
        }
    }
    .content-1-right {
        width: 320px;
        height: 390px;
        float: right;
        .content-1-right-top {
            height: 30px;
            padding-bottom: 30px;
            line-height: 60px;
            img {
                float: left;
            }
            span {
                float: right;
            }
        }
        .content-1-right-tu {
            height: 325px;
            .content-1-right-tu1 {
                position: relative;
                height: 98px;
                background-color: #f6f6f6;
                margin-bottom: 15px;
                @include tian1;
            }
            .content-1-right-tu2 {
                position: relative;
                height: 98px;
                background-color: #f6f6f6;
                margin-bottom: 15px;
                @include tian1;
            }
            .content-1-right-tu3 {
                position: relative;
                height: 98px;
                background-color: #f6f6f6;
                margin-bottom: 15px;
                @include tian1;
            }
        }
    }
}

.advert1 {
    width: 1000px;
    margin: 10px auto;
}

@mixin tian2 {

    li {
        height: 35px;
        line-height: 35px;
        a {
            display: block;
            height: 35px;
            color: #333;
            padding: 0 10px;
            span {
                float: left;
            }
            .dujia {
                float: left;
                display: inline-block;
                width: 23px;
                height: 20px;
                margin-top: 12px;
                margin-left: 15px;
                background: url(http://static.kgimg.com/public/root/images/first.png) no-repeat 0 0;
            }
            .bofang {
                display: none;

                float: right;
                width: 12px;
                height: 14px;
                background: url(http://static.kgimg.com/common/images/pc_temp_v2/icon_splice.png?20150814) no-repeat;
                background-position: 0 0;
                margin-top: 12px;

                margin-right: 10px;
            }
            .xiazai {
                display: none;
                float: right;
                width: 15px;
                height: 15px;
                background: url(http://static.kgimg.com/common/images/pc_temp_v2/icon_splice.png?20150814) no-repeat;
                background-position: -90px 0;
                margin-top: 12px;

                margin-right: 15px;
            }
            .time {
                float: right;
            }
            &:hover {
                background-color: #f5f8fb;
                color: #009af3;
            }
        }
        &:hover .blue {
            display: block;
        }
    }
}

@mixin tian3 {

    a {
        display: block;
        width: 154px;
        height: 125px;
        img {
            width: 100%;
            height: 84px;
        }
        .shadow4 {
            display: none;
            position: absolute;
            top: 0;
            width: 154px;
            height: 84px;
            line-height: 125px;
            text-align: center;
            background: rgba(0, 0, 0, .3);
            span {
                display: inline-block;
                width: 48px;
                height: 48px;
                background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
                background-position: 0 -542px;
            }
        }
        .MV-tu2-di {
            p:first-child {
                color: #444;
                font-size: 14px;
            }
            p:last-child {
                color: #888;
                font-size: 12px
            }
        }
    }
    &:hover .shadow4 {
        display: block;
    }
}

.content-2 {
    width: 1000px;
    height: 375px;
    margin: auto;
    margin-top: 40px;
    .xinge {
        float: left;
        width: 650px;
        height: 375px;
        font-size: 14px;
        .xinge-top {
            height: 30px;
            line-height: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #f0f0f0;
            img {
                float: left;
                margin-right: 25px;
                margin-top: 10px;
            }
            ul {
                float: left;
                margin-top: 10px;
                li {
                    float: left;
                    margin-right: 20px;
                }
            }
            button {
                float: right;
                padding: 5px 10px;
                border: 1px solid #dbdbdb;
                border-radius: 2px;
                margin-top: 10px;
                color: #555;
                background-color: #fff;
                span {
                    float: left;
                    width: 12px;
                    height: 14px;
                    margin-top: 2px;
                    margin-right: 3px;
                    background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
                    background-position: 0 -303px;
                }
                &:hover {
                    color: #009af3;
                    border: 1px solid #009af3
                }
                &:hover span {
                    background-position: 0 -341px;
                }
            }
        }

        .xxk {
            height: 280px;
            .ka1 {
                @include tian2;
            }
            .ka2 {
                display: none;
                @include tian2;
            }
            .ka3 {
                display: none;
                @include tian2;
            }
            .ka4 {
                display: none;
                @include tian2;
            }
        }

        .fenye {
            text-align: center;
            font-size: 12px;
            color: #8d8d8d;
            .prev {
                display: inline-block;
                width: 6px;
                height: 10px;
                background: url(http://static.kgimg.com/public/root/images/pageChange.jpg) no-repeat;
            }
            .next {
                display: inline-block;
                width: 6px;
                height: 10px;
                background: url(http://static.kgimg.com/public/root/images/pageChange.jpg) no-repeat;
                background-position: -13px -14px;
            }
            div {
                display: inline-block;
                padding: 0 15px;
            }
        }
    }
    .MV {
        float: right;
        width: 320px;
        height: 362px;
        margin-top: 10px;
        .MV-top {
            height: 30px;
            line-height: 30px;
            padding-bottom: 20px;
            span {
                float: right;
                color: #ccc;
            }
        }
        .MV-tu {
            .MV-tu1 {
                position: relative;
                margin-bottom: 10px;
                a {
                    display: block;
                    width: 320px;
                    height: 175px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .MV-tu1-di {
                        position: absolute;
                        width: 304px;
                        bottom: 0;
                        padding: 6px 8px;
                        font-size: 14px;
                        color: #fff;
                        background: rgba(0, 0, 0, .5);
                        p:last-child {
                            color: #cfcfcf;
                        }
                    }
                    .shadow3 {
                        display: none;
                        position: absolute;
                        top: 0;
                        width: 320px;
                        height: 175px;
                        line-height: 175px;
                        background: rgba(0, 0, 0, .3);
                        text-align: center;
                        span {
                            display: inline-block;
                            width: 48px;
                            height: 48px;
                            background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
                            background-position: 0 -542px;
                        }
                    }
                }
                &:hover .shadow3 {
                    display: block;
                }
            }
            .MV-tu2 {
                position: relative;
                float: left;
                width: 154px;
                height: 125px;
                margin-right: 12px;
                @include tian3;
            }
            .MV-tu3 {
                position: relative;
                float: left;
                width: 154px;
                height: 125px;
                @include tian3;
            }
        }
    }
}

.advert2 {
    width: 1000px;
    height: 100px;
    margin: 40px auto;
    img {
        width: 100%;
        height: 100%;
    }
}

.content-3 {
    width: 1000px;
    height: 355px;
    margin: 0 auto;
    border: 1px solid red;
}