* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font: 13px/1.5 \5FAE\8F6F\96C5\9ED1, simsun, sans-serif;
}

.header {
  width: 1000px;
  height: 78px;
  margin: 0 auto;
}

.header .header-left {
  float: left;
}

.header .header-left h1 {
  float: left;
}

.header .header-left h1 a img {
  padding-top: 20px;
}

.header .header-left .search {
  float: right;
  width: 290px;
  border: 1px solid #ccc;
  margin-left: 50px;
  margin-top: 20px;
}

.header .header-left .search input {
  width: 249px;
  height: 24px;
  line-height: 24px;
  padding: 5px 0;
  color: #666;
  outline: none;
  border: 0;
  padding-left: 10px;
}

.header .header-left .search i {
  padding-right: 5px;
}

.header .header-left .search i:hover {
  color: #169af3;
}

.header .header-right {
  float: right;
  width: 402px;
  margin-top: 35px;
}

.header .header-right ul {
  float: left;
  width: 250px;
  padding-right: 14px;
  border-right: 1px solid #e6e6e6;
}

.header .header-right ul li {
  float: left;
  padding: 0 15px;
}

.header .header-right ul li a {
  color: #777;
}

.header .header-right ul li:hover a {
  color: #169af3;
}

.header .header-right .login {
  float: right;
  margin-top: -5px;
}

.header .header-right .login a {
  width: 48px;
  height: 28px;
  padding: 5px 10px;
  line-height: 28px;
  border: 1px solid #169af3;
  border-radius: 2px;
  color: #fff;
  background-color: #169af3;
}

.header .header-right .login .log:hover {
  color: #fff;
  border: 1px solid #158fe1;
  background-color: #158fe1;
}

.header .header-right .login .reg {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  margin-left: 10px;
  color: #777;
}

.header .header-right .login .reg:hover {
  border: 1px solid #009af3;
  background-color: #fff;
  color: #009af3;
}

.nav {
  width: 100%;
  height: 55px;
  background-color: #2c323b;
}

.nav .nav-l {
  width: 1000px;
  margin: 0 auto;
}

.nav .nav-l .nav-left {
  float: left;
}

.nav .nav-l .nav-left > li {
  float: left;
}

.nav .nav-l .nav-left > li a {
  font-size: 16px;
  color: #ddd;
  padding: 0 38px;
  line-height: 55px;
}

.nav .nav-l .nav-left > li:first-child {
  background-color: #0c8ed9;
  color: #fff;
}

.nav .nav-l .nav-left > li:last-child > a {
  background: url(http://static.kgimg.com/public/root/images/arrowMored.png) no-repeat no-repeat 80px;
}

.nav .nav-l .nav-left > li:last-child .gengduo {
  position: absolute;
  display: none;
  height: 146px;
  background-color: #252a32;
  z-index: 2;
}

.nav .nav-l .nav-left > li:last-child .gengduo li {
  width: 108px;
  height: 36px;
  text-align: center;
}

.nav .nav-l .nav-left > li:last-child .gengduo li a {
  line-height: 36px;
  font-size: 15px;
  color: #bbb;
}

.nav .nav-l .nav-left > li:last-child .gengduo li:hover {
  background-color: #2D343D;
}

.nav .nav-l .nav-left > li:last-child:hover .gengduo {
  display: block;
}

.nav .nav-l .nav-left > li:last-child:hover > a {
  background: url(http://static.kgimg.com/public/root/images/arrowMoreu.png) no-repeat no-repeat 80px;
}

.nav .nav-l .nav-left > li:hover {
  background-color: #0c8ed9;
  color: #fff;
}

.nav .nav-l .nav-right {
  float: right;
  margin-top: 16px;
}

.nav .nav-l .nav-right li {
  display: inline-block;
  margin-left: 30px;
}

.nav .nav-l .nav-right li a {
  color: #bbb;
  font-size: 13px;
  padding-left: 20px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png);
}

.nav .nav-l .nav-right li a:hover {
  color: #14a9ff;
}

.nav .nav-l .nav-right li:first-child a {
  background-position: 0 -119px;
}

.nav .nav-l .nav-right li:first-child a:hover {
  background-position: 0 -101px;
}

.nav .nav-l .nav-right li:nth-child(2) a {
  background-position: 0 -155px;
}

.nav .nav-l .nav-right li:nth-child(2) a:hover {
  background-position: 0 -137px;
}

.nav .nav-l .nav-right li:nth-child(3) a {
  background-position: 0 -191px;
}

.nav .nav-l .nav-right li:nth-child(3) a:hover {
  background-position: 0 -173px;
}

.nav .nav-l .nav-right li:nth-child(4) a {
  background-position: 0 -226px;
}

.nav .nav-l .nav-right li:nth-child(4) a:hover {
  background-position: 0 -208px;
}

.nav .nav-l .nav-right li:last-child a {
  background-position: 0 -281px;
}

.nav .nav-l .nav-right li:last-child a:hover {
  background-position: 0 -245px;
}

.lunbotu {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index: 1;
}

.lunbotu .lunbo li {
  position: absolute;
}

.lunbotu .lunbo li img {
  display: none;
  position: absolute;
  height: 500px;
  left: -320px;
}

.lunbotu .lunbo li:first-child img {
  display: block;
}

.lunbotu .lol {
  position: absolute;
  width: 100%;
  bottom: 80px;
  margin: 0 auto;
  text-align: center;
}

.lunbotu .lol a {
  display: inline-block;
  width: 12px;
  height: 10px;
  color: #fff;
  font-size: 0;
  background: url(http://static.kgimg.com/public/root/images/sprite.png);
  background-position: 0 -22px;
}

.lunbotu .lol .active {
  background-position: 0 -37px;
}

.lunbotu > a {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 60px;
  height: 120px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png);
}

.lunbotu .lunbo-left {
  left: 0;
  background-position: 0 -755px;
}

.lunbotu .lunbo-left:hover {
  background-position: 0 -880px;
}

.lunbotu .lunbo-right {
  right: 0;
  background-position: 0 -1130px;
}

.lunbotu .lunbo-right:hover {
  background-position: 0 -1005px;
}

.lunbotu .lunbo-xia {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.lunbotu .lunbo-xia a {
  display: inline-block;
  width: 130px;
  padding: 0 30px;
  color: #fff;
  font-size: 15px;
}

.lunbotu .lunbo-xia a:first-child {
  background: url(http://static.kgimg.com/public/root/images/pc.png) no-repeat left;
}

.lunbotu .lunbo-xia a:nth-child(2) {
  background: url(http://static.kgimg.com/public/root/images/mac.png) no-repeat left;
}

.lunbotu .lunbo-xia a:last-child {
  background: url(http://static.kgimg.com/public/root/images/andriod.png) no-repeat left;
  margin-left: 30px;
}

.lunbotu .lunbo-xia span {
  height: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.lunbotu:hover > a {
  display: block;
}

.content-1 {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.content-1 .content-1-left {
  width: 660px;
  height: 390px;
  float: left;
}

.content-1 .content-1-left .content-1-left-top {
  width: 100%;
  height: 30px;
  line-height: 60px;
  padding-bottom: 30px;
}

.content-1 .content-1-left .content-1-left-top span {
  float: right;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 {
  position: relative;
  float: left;
  width: 325px;
  height: 325px;
  margin: 0 5px 5px 0;
  overflow: hidden;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 > p {
  position: absolute;
  right: 0;
  width: 152px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: right;
  background: url(http://static.kgimg.com/public/root/images/cptTBg.png) no-repeat;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 > p i {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 15px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0 -267px;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 img {
  width: 100%;
  height: 100%;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 .content-1-left-tu1-di {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.5);
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 .content-1-left-tu1-di p:first-child {
  display: block;
  width: 70%;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 .content-1-left-tu1-di p:last-child {
  display: block;
  width: 70%;
  color: #cfcfcf;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 .shadow {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1 .shadow .shadow-fang {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 36px;
  height: 36px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0px -401px;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu1:hover .shadow {
  display: block;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 {
  position: relative;
  float: left;
  top: 0;
  width: 160px;
  height: 160px;
  margin: 0 5px 5px 0;
  overflow: hidden;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 > p {
  position: absolute;
  right: 0;
  width: 152px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: right;
  background: url(http://static.kgimg.com/public/root/images/cptTBg.png) no-repeat;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 > p i {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 15px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0 -267px;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 img {
  width: 100%;
  height: 100%;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 .content-1-left-tu1-di {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.5);
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 .content-1-left-tu1-di p:first-child {
  display: block;
  width: 70%;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 .content-1-left-tu1-di p:last-child {
  display: block;
  width: 70%;
  color: #cfcfcf;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 .shadow {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2 .shadow .shadow-fang {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 36px;
  height: 36px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0px -401px;
}

.content-1 .content-1-left .content-1-left-tu .content-1-left-tu2:hover .shadow {
  display: block;
}

.content-1 .content-1-right {
  width: 320px;
  height: 390px;
  float: right;
}

.content-1 .content-1-right .content-1-right-top {
  height: 30px;
  padding-bottom: 30px;
  line-height: 60px;
}

.content-1 .content-1-right .content-1-right-top img {
  float: left;
}

.content-1 .content-1-right .content-1-right-top span {
  float: right;
}

.content-1 .content-1-right .content-1-right-tu {
  height: 325px;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 {
  position: relative;
  height: 98px;
  background-color: #f6f6f6;
  margin-bottom: 15px;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 img {
  float: left;
  width: 98px;
  height: 98px;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 .content-list {
  float: left;
  width: 200px;
  height: 68px;
  font-size: 14px;
  padding: 15px 10px;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 .content-list dl dt {
  color: #333;
  font-weight: 700;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 .content-list dl dd {
  width: 180px;
  color: #555;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 .shadow2 {
  display: none;
  position: absolute;
  width: 98px;
  height: 98px;
  background: rgba(0, 0, 0, 0.3);
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 .shadow2 div {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  margin-top: 30px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0px -401px;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1 span {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 7px;
  height: 14px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0 -322px;
}

.content-1 .content-1-right .content-1-right-tu .content-1-right-tu1:hover .shadow2 {
  display: block;
}

.advert1 {
  width: 1000px;
  margin: 10px auto;
}

.content-2 {
  width: 1000px;
  height: 375px;
  margin: auto;
  margin-top: 40px;
}

.content-2 .xinge {
  float: left;
  width: 650px;
  height: 375px;
  font-size: 14px;
}

.content-2 .xinge .xinge-top {
  height: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
}

.content-2 .xinge .xinge-top img {
  float: left;
  margin-right: 25px;
  margin-top: 10px;
}

.content-2 .xinge .xinge-top ul {
  float: left;
  margin-top: 10px;
}

.content-2 .xinge .xinge-top ul li {
  float: left;
  margin-right: 20px;
}

.content-2 .xinge .xinge-top button {
  float: right;
  padding: 5px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin-top: 10px;
  color: #555;
  background-color: #fff;
}

.content-2 .xinge .xinge-top button span {
  float: left;
  width: 12px;
  height: 14px;
  margin-top: 2px;
  margin-right: 3px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0 -303px;
}

.content-2 .xinge .xinge-top button:hover {
  color: #009af3;
  border: 1px solid #009af3;
}

.content-2 .xinge .xinge-top button:hover span {
  background-position: 0 -341px;
}

.content-2 .xinge .xxk {
  height: 280px;
}

.content-2 .xinge .xxk .ka2 {
  display: none;
}

.content-2 .xinge .xxk .ka2 li {
  height: 35px;
  line-height: 35px;
}

.content-2 .xinge .xxk .ka2 li a {
  display: block;
  height: 35px;
  color: #333;
  padding: 0 10px;
}

.content-2 .xinge .xxk .ka2 li a span {
  float: left;
}

.content-2 .xinge .xxk .ka2 li a .dujia {
  float: left;
  display: inline-block;
  width: 23px;
  height: 20px;
  margin-top: 12px;
  margin-left: 15px;
  background: url(http://static.kgimg.com/public/root/images/first.png) no-repeat 0 0;
}

.content-2 .xinge .xxk .ka2 li a .bofang {
  display: none;
  float: right;
  width: 12px;
  height: 14px;
  background: url(http://static.kgimg.com/common/images/pc_temp_v2/icon_splice.png?20150814) no-repeat;
  background-position: 0 0;
  margin-top: 12px;
  margin-right: 10px;
}

.content-2 .xinge .xxk .ka2 li a .xiazai {
  display: none;
  float: right;
  width: 15px;
  height: 15px;
  background: url(http://static.kgimg.com/common/images/pc_temp_v2/icon_splice.png?20150814) no-repeat;
  background-position: -90px 0;
  margin-top: 12px;
  margin-right: 15px;
}

.content-2 .xinge .xxk .ka2 li a .time {
  float: right;
}

.content-2 .xinge .xxk .ka2 li a:hover {
  background-color: #f5f8fb;
  color: #009af3;
}

.content-2 .xinge .xxk .ka2 li:hover .blue {
  display: block;
}

.content-2 .xinge .xxk .ka2:first-child {
  display: block;
}

.content-2 .xinge .fenye {
  text-align: center;
  font-size: 12px;
  color: #8d8d8d;
}

.content-2 .xinge .fenye .prev {
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(http://static.kgimg.com/public/root/images/pageChange.jpg) no-repeat;
}

.content-2 .xinge .fenye .next {
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(http://static.kgimg.com/public/root/images/pageChange.jpg) no-repeat;
  background-position: -13px -14px;
}

.content-2 .xinge .fenye div {
  display: inline-block;
  padding: 0 15px;
}

.content-2 .MV {
  float: right;
  width: 320px;
  height: 362px;
  margin-top: 10px;
}

.content-2 .MV .MV-top {
  height: 30px;
  line-height: 30px;
  padding-bottom: 20px;
}

.content-2 .MV .MV-top span {
  float: right;
  color: #ccc;
}

.content-2 .MV .MV-tu .MV-tu1 {
  position: relative;
  margin-bottom: 10px;
}

.content-2 .MV .MV-tu .MV-tu1 a {
  display: block;
  width: 320px;
  height: 175px;
}

.content-2 .MV .MV-tu .MV-tu1 a img {
  width: 100%;
  height: 100%;
}

.content-2 .MV .MV-tu .MV-tu1 a .MV-tu1-di {
  position: absolute;
  width: 304px;
  bottom: 0;
  padding: 6px 8px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.content-2 .MV .MV-tu .MV-tu1 a .MV-tu1-di p:last-child {
  color: #cfcfcf;
}

.content-2 .MV .MV-tu .MV-tu1 a .shadow3 {
  display: none;
  position: absolute;
  top: 0;
  width: 320px;
  height: 175px;
  line-height: 175px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.content-2 .MV .MV-tu .MV-tu1 a .shadow3 span {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0 -542px;
}

.content-2 .MV .MV-tu .MV-tu1:hover .shadow3 {
  display: block;
}

.content-2 .MV .MV-tu .MV-tu3 {
  position: relative;
  float: left;
  width: 154px;
  height: 125px;
  margin-right: 6px;
}

.content-2 .MV .MV-tu .MV-tu3 a {
  display: block;
  width: 154px;
  height: 125px;
}

.content-2 .MV .MV-tu .MV-tu3 a img {
  width: 100%;
  height: 84px;
}

.content-2 .MV .MV-tu .MV-tu3 a .shadow4 {
  display: none;
  position: absolute;
  top: 0;
  width: 154px;
  height: 84px;
  line-height: 125px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.content-2 .MV .MV-tu .MV-tu3 a .shadow4 span {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0 -542px;
}

.content-2 .MV .MV-tu .MV-tu3 a .MV-tu2-di p:first-child {
  color: #444;
  font-size: 14px;
}

.content-2 .MV .MV-tu .MV-tu3 a .MV-tu2-di p:last-child {
  color: #888;
  font-size: 12px;
}

.content-2 .MV .MV-tu .MV-tu3:hover .shadow4 {
  display: block;
}

.advert2 {
  width: 1000px;
  height: 100px;
  margin: 40px auto;
}

.advert2 img {
  width: 100%;
  height: 100%;
}

.content-3 {
  width: 1000px;
  height: 355px;
  margin: 0 auto;
}

.content-3 .diantai {
  float: left;
  width: 650px;
  height: 355px;
}

.content-3 .diantai .diantai-top {
  width: 100%;
  height: 30px;
  line-height: 60px;
  padding-bottom: 30px;
}

.content-3 .diantai .diantai-top img {
  margin-top: 10px;
}

.content-3 .diantai .diantai-top span {
  float: right;
}

.content-3 .diantai .diantai-tu {
  width: 100%;
  height: 310px;
}

.content-3 .diantai .diantai-tu li {
  display: inline-block;
  width: 100px;
  height: 130px;
  margin-right: 26px;
  margin-bottom: 25px;
}

.content-3 .diantai .diantai-tu li a {
  position: relative;
  display: block;
  width: 100px;
  height: 130px;
  color: #333;
  text-align: center;
}

.content-3 .diantai .diantai-tu li a img {
  width: 100%;
}

.content-3 .diantai .diantai-tu li a .shadow5 {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.2) url(http://static.kgimg.com/public/root/images/radio.png) no-repeat left top;
}

.content-3 .diantai .diantai-tu li a .shadow5 span {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 42px;
  height: 42px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png) no-repeat;
  background-position: 0 -442px;
}

.content-3 .diantai .diantai-tu li a p {
  width: 100px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overfolw: ellipsis;
}

.content-3 .diantai .diantai-tu li a:hover {
  color: #009af3;
}

.content-3 .diantai .diantai-tu li a:hover .shadow5 {
  display: block;
}

.content-3 .geshou {
  float: right;
  width: 330px;
  height: 350px;
  margin-top: 10px;
}

.content-3 .geshou .geshou-top {
  width: 330px;
  height: 30px;
  line-height: 30px;
  padding-bottom: 30px;
}

.content-3 .geshou .geshou-top img {
  float: left;
}

.content-3 .geshou .geshou-top ul {
  float: left;
  margin-left: 15px;
}

.content-3 .geshou .geshou-top ul li {
  float: left;
  margin-right: 20px;
  font-size: 14px;
}

.content-3 .geshou .geshou-tu {
  width: 330px;
  height: 270px;
}

.content-3 .geshou .geshou-tu > ul > li {
  display: none;
}

.content-3 .geshou .geshou-tu > ul > li #zhang {
  display: none;
}

.content-3 .geshou .geshou-tu > ul > li #zhang > li {
  float: left;
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 5px 5px 0;
}

.content-3 .geshou .geshou-tu > ul > li #zhang > li a {
  color: #fff;
}

.content-3 .geshou .geshou-tu > ul > li #zhang > li a img {
  width: 100%;
  height: 100%;
}

.content-3 .geshou .geshou-tu > ul > li #zhang > li a .shadow6 {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content-3 .geshou .geshou-tu > ul > li #zhang > li a p {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  padding: 6px 8px;
}

.content-3 .geshou .geshou-tu > ul > li #zhang > li:hover .shadow6 {
  display: block;
}

.content-3 .geshou .geshou-tu > ul > li #zhang .li3 {
  float: left;
  position: relative;
  width: 105px;
  height: 105px;
  margin: 0 5px 5px 0;
}

.content-3 .geshou .geshou-tu > ul > li #zhang .li3 a {
  color: #fff;
}

.content-3 .geshou .geshou-tu > ul > li #zhang .li3 a img {
  width: 100%;
  height: 100%;
}

.content-3 .geshou .geshou-tu > ul > li #zhang .li3 a .shadow6 {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content-3 .geshou .geshou-tu > ul > li #zhang .li3 a p {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  padding: 6px 8px;
}

.content-3 .geshou .geshou-tu > ul > li #zhang .li3:hover .shadow6 {
  display: block;
}

.content-3 .geshou .geshou-tu > ul > li #zhang:first-child {
  display: block;
}

.content-3 .geshou .geshou-tu > ul > li .yiru2 {
  display: inline-block;
  width: 330px;
  height: 10px;
  text-align: center;
}

.content-3 .geshou .geshou-tu > ul > li .yiru2 a {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #ccc;
}

.content-3 .geshou .geshou-tu > ul > li .yiru2 a:hover {
  background-color: #009af3;
}

.content-3 .geshou .geshou-tu > ul > li:first-child {
  display: block;
}

.content-3 .geshou .geshou-tu > ul:first-child {
  display: block;
}

.advert3 {
  width: 1000px;
  height: 100px;
  margin: 40px auto;
}

.advert3 img {
  width: 100%;
  height: 100%;
}

.content-4 {
  width: 1000px;
  height: 276px;
  margin: 0 auto;
}

.content-4 .huoban-top {
  width: 100%;
  height: 30px;
  padding-bottom: 30px;
}

.content-4 .huoban-tu {
  width: 1010px;
}

.content-4 .huoban-tu span {
  float: left;
  width: 130px;
  height: 58px;
  border: 1px dashed #ccc;
  margin: 0 12px 12px 0;
}

.content-5 {
  width: 1000px;
  height: 168px;
  margin: 30px auto;
}

.content-5 .lianjie-top {
  width: 1000px;
  height: 30px;
  padding-bottom: 30px;
}

.content-5 .lianjie-zi a {
  float: left;
  width: 125px;
  height: 24px;
  line-height: 24px;
  color: #555;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  height: 289px;
  color: #b1b3b9;
  background-color: #2c323b;
}

.footer .footer-top {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #3d424a;
}

.footer .footer-top a {
  display: inline-block;
  color: #b1b3b9;
  font-size: 12px;
  padding: 10px;
}

.footer .footer-zi {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.footer .footer-zi p {
  line-height: 30px;
}
