* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 1000px;
  height: 78px;
  margin: 0 auto;
}

.header .header-left {
  float: left;
}

.header .header-left h1 {
  float: left;
}

.header .header-left h1 a img {
  padding-top: 20px;
}

.header .header-left .search {
  float: right;
  width: 290px;
  border: 1px solid #ccc;
  margin-left: 50px;
  margin-top: 20px;
}

.header .header-left .search input {
  width: 249px;
  height: 24px;
  line-height: 24px;
  padding: 5px 0;
  color: #666;
  outline: none;
  border: 0;
  padding-left: 10px;
}

.header .header-left .search i {
  padding-right: 5px;
}

.header .header-left .search i:hover {
  color: #169af3;
}

.header .header-right {
  float: right;
  width: 402px;
  margin-top: 35px;
}

.header .header-right ul {
  float: left;
  width: 250px;
  padding-right: 14px;
  border-right: 1px solid #e6e6e6;
}

.header .header-right ul li {
  float: left;
  padding: 0 15px;
}

.header .header-right ul li a {
  color: #777;
  font-size: 12px;
}

.header .header-right ul li:hover a {
  color: #169af3;
}

.header .header-right .login {
  float: right;
  margin-top: -5px;
}

.header .header-right .login a {
  width: 48px;
  height: 28px;
  padding: 5px 10px;
  line-height: 28px;
  border: 1px solid #169af3;
  border-radius: 2px;
  color: #fff;
  background-color: #169af3;
}

.header .header-right .login .log:hover {
  color: #fff;
  border: 1px solid #158fe1;
  background-color: #158fe1;
}

.header .header-right .login .reg {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  margin-left: 10px;
  color: #777;
}

.header .header-right .login .reg:hover {
  border: 1px solid #009af3;
  background-color: #fff;
  color: #009af3;
}

.nav {
  width: 100%;
  height: 55px;
  background-color: #2c323b;
}

.nav .nav-l {
  width: 1000px;
  margin: 0 auto;
}

.nav .nav-l .nav-left {
  float: left;
}

.nav .nav-l .nav-left > li {
  float: left;
}

.nav .nav-l .nav-left > li a {
  font-size: 16px;
  color: #ddd;
  padding: 0 38px;
  line-height: 55px;
}

.nav .nav-l .nav-left > li:first-child {
  background-color: #0c8ed9;
  color: #fff;
}

.nav .nav-l .nav-left > li:last-child > a {
  background: url(http://static.kgimg.com/public/root/images/arrowMored.png) no-repeat no-repeat 80px;
}

.nav .nav-l .nav-left > li:last-child .gengduo {
  position: absolute;
  display: none;
  height: 146px;
  background-color: #252a32;
  z-index: 2;
}

.nav .nav-l .nav-left > li:last-child .gengduo li {
  width: 108px;
  height: 36px;
  text-align: center;
}

.nav .nav-l .nav-left > li:last-child .gengduo li a {
  line-height: 36px;
  font-size: 15px;
  color: #bbb;
}

.nav .nav-l .nav-left > li:last-child .gengduo li:hover {
  background-color: #2D343D;
}

.nav .nav-l .nav-left > li:last-child:hover .gengduo {
  display: block;
}

.nav .nav-l .nav-left > li:last-child:hover > a {
  background: url(http://static.kgimg.com/public/root/images/arrowMoreu.png) no-repeat no-repeat 80px;
}

.nav .nav-l .nav-left > li:hover {
  background-color: #0c8ed9;
  color: #fff;
}

.nav .nav-l .nav-right {
  float: right;
  margin-top: 16px;
}

.nav .nav-l .nav-right li {
  display: inline-block;
  margin-left: 30px;
}

.nav .nav-l .nav-right li a {
  color: #bbb;
  font-size: 13px;
  padding-left: 20px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png);
}

.nav .nav-l .nav-right li a:hover {
  color: #14a9ff;
}

.nav .nav-l .nav-right li:first-child a {
  background-position: 0 -119px;
}

.nav .nav-l .nav-right li:first-child a:hover {
  background-position: 0 -101px;
}

.nav .nav-l .nav-right li:nth-child(2) a {
  background-position: 0 -155px;
}

.nav .nav-l .nav-right li:nth-child(2) a:hover {
  background-position: 0 -137px;
}

.nav .nav-l .nav-right li:nth-child(3) a {
  background-position: 0 -191px;
}

.nav .nav-l .nav-right li:nth-child(3) a:hover {
  background-position: 0 -173px;
}

.nav .nav-l .nav-right li:nth-child(4) a {
  background-position: 0 -226px;
}

.nav .nav-l .nav-right li:nth-child(4) a:hover {
  background-position: 0 -208px;
}

.nav .nav-l .nav-right li:last-child a {
  background-position: 0 -281px;
}

.nav .nav-l .nav-right li:last-child a:hover {
  background-position: 0 -245px;
}

.container {
  width: 1000px;
  height: 325px;
  margin: 0 auto;
  margin-top: 30px;
}

.container .container-left {
  float: left;
  position: relative;
  width: 663px;
  height: 325px;
  overflow: hidden;
}

.container .container-left ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 9999px;
}

.container .container-left ul li {
  float: left;
}

.container .container-left ul li span {
  position: absolute;
  bottom: 0;
  width: 663px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #000;
  opacity: 0.7;
}

.container .container-left ul li span a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 20px 3px 20px;
}

.container .container-left ul li span a em {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: 10px;
  background: url(http://www.kugou.com/mvweb/common/images/play.png) no-repeat;
}

.container .container-left ul li span:hover a {
  text-decoration: underline;
}

.container .container-left ol {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.container .container-left ol li {
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
}

.container .container-right {
  width: 317px;
  height: 325px;
  float: right;
}

.container .container-right h3 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}

.container .container-right h3 span {
  float: left;
  width: 219px;
  background-color: #deb200;
  font-weight: 400;
  padding-left: 14px;
}

.container .container-right h3 a {
  float: left;
  width: 82px;
  color: #fff;
  background-color: #363636;
  text-align: center;
  margin-left: 2px;
}

.container .container-right ul {
  height: 290px;
  background-color: #363636;
  margin-top: 5px;
}

.container .container-right ul li {
  height: 29px;
  line-height: 32px;
}

.container .container-right ul li a {
  display: block;
  height: 29px;
}

.container .container-right ul li a i {
  float: left;
  width: 37px;
  height: 29px;
  background: url(http://www.kugou.com/mvweb/common/images/bg.png) no-repeat;
}

.container .container-right ul li a span {
  float: left;
  width: 220px;
  height: 29px;
  line-height: 32px;
  color: #fff;
  font-size: 12px;
}

.container .container-right ul li a em {
  display: none;
  margin-top: 7px;
  width: 18px;
  height: 18px;
  background: url(http://www.kugou.com/mvweb/common/images/play.png) no-repeat;
}

.container .container-right ul li a:hover {
  background: #959595;
}

.container .container-right ul li a:hover em {
  display: inline-block;
}

.container .container-right ul li:first-child a i {
  background-position: -336px -218px;
}

.container .container-right ul li:first-child a:hover i {
  background-position: -296px -218px;
}

.container .container-right ul li:nth-child(2) a i {
  background-position: -336px -247px;
}

.container .container-right ul li:nth-child(2) a:hover i {
  background-position: -296px -247px;
}

.container .container-right ul li:nth-child(3) a i {
  background-position: -336px -276px;
}

.container .container-right ul li:nth-child(3) a:hover i {
  background-position: -296px -276px;
}

.container .container-right ul li:nth-child(4) a i {
  background-position: -336px -305px;
}

.container .container-right ul li:nth-child(4) a:hover i {
  background-position: -296px -305px;
}

.container .container-right ul li:nth-child(5) a i {
  background-position: -336px -334px;
}

.container .container-right ul li:nth-child(5) a:hover i {
  background-position: -296px -334px;
}

.container .container-right ul li:nth-child(6) a i {
  background-position: -336px -363px;
}

.container .container-right ul li:nth-child(6) a:hover i {
  background-position: -296px -363px;
}

.container .container-right ul li:nth-child(7) a i {
  background-position: -336px -392px;
}

.container .container-right ul li:nth-child(7) a:hover i {
  background-position: -296px -392px;
}

.container .container-right ul li:nth-child(8) a i {
  background-position: -336px -421px;
}

.container .container-right ul li:nth-child(8) a:hover i {
  background-position: -296px -421px;
}

.container .container-right ul li:nth-child(9) a i {
  background-position: -336px -450px;
}

.container .container-right ul li:nth-child(9) a:hover i {
  background-position: -296px -450px;
}

.container .container-right ul li:nth-child(10) a i {
  background-position: -336px -479px;
}

.container .container-right ul li:nth-child(10) a:hover i {
  background-position: -296px -479px;
}

a {
  text-decoration: none;
}

.lol li {
  background-color: #fff;
}

.lol .active {
  background-color: #85d4f3;
}

.content .content-left .yiru li .active1 {
  color: #fff;
  background-color: #85d4f3;
}

.content {
  width: 1000px;
  margin: 20px auto;
  overflow: hidden;
}

.content .content-left {
  float: left;
  width: 210px;
}

.content .content-left h3 {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  background-color: #cfcfcf;
}

.content .content-left ul {
  padding-top: 10px;
}

.content .content-left ul li a {
  display: block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.content .content-left ul li:hover a {
  color: #fff;
  background-color: #85d4f3;
}

.content .content-right {
  width: 780px;
  float: right;
}

.content .content-right h3 {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  background-color: #cfcfcf;
}

.content .content-right ul {
  position: relative;
  width: 800px;
  height: auto;
  padding-top: 10px;
  overflow: hidden;
}

.content .content-right ul li {
  position: relative;
  float: left;
  margin: 0px 20px 10px 0px;
}

.content .content-right ul li a {
  display: block;
}

.content .content-right ul li a img {
  width: 140px;
  height: 78px;
}

.content .content-right ul li a i {
  position: absolute;
  top: 34px;
  left: 0;
  width: 140px;
  height: 44px;
  background: url(http://www.kugou.com/mvweb/common/images/btn_bg.png) no-repeat;
}

.content .content-right ul li a em {
  position: absolute;
  top: 45px;
  right: 12px;
  width: 22px;
  height: 22px;
  background: url(http://www.kugou.com/mvweb/common/images/play_icon.png) no-repeat;
}

.content .content-right ul li a p {
  width: 124px;
  height: 22px;
  color: #555;
  font-size: 14px;
}

.content .content-right > div {
  text-align: center;
  font-family: Arial;
  font-style: italic;
  font-size: 13px;
  color: #333;
  margin-top: 15px;
}

.content .content-right > div a {
  color: #333;
  margin: 0 8px;
}

.content .content-right > div a:first-child {
  font-weight: 700;
  text-decoration: underline;
}

.content .content-right > div a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.footer {
  width: 100%;
  height: 289px;
  color: #b1b3b9;
  background-color: #2c323b;
  margin-top: 30px;
}

.footer .footer-top {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #3d424a;
}

.footer .footer-top a {
  display: inline-block;
  color: #b1b3b9;
  font-size: 12px;
  padding: 10px;
}

.footer .footer-zi {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.footer .footer-zi p {
  line-height: 30px;
  font-size: 14px;
}
