* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  width: 1000px;
  height: 78px;
  line-height: 78px;
  margin: 0 auto;
}

.header .header-left {
  float: left;
}

.header .header-left h1 {
  float: left;
}

.header .header-left .search {
  position: relative;
  float: right;
}

.header .header-left .search input {
  width: 230px;
  height: 30px;
  outline: none;
  padding: 0 10px;
  margin-left: 50px;
}

.header .header-left .search a {
  position: absolute;
  top: 2px;
  right: 10px;
}

.header .header-right {
  float: right;
  font-size: 14px;
  color: #ccc;
}

.header .header-right ul {
  float: left;
}

.header .header-right ul li {
  float: left;
  padding: 0 15px;
}

.header .header-right ul li a {
  color: #777;
}

.header .header-right .login {
  float: right;
  margin-left: 20px;
}

.header .header-right .login a {
  display: inline-block;
  width: 48px;
  height: 28px;
  color: #333;
  line-height: 28px;
  text-align: center;
  border: 1px solid #333;
  margin: 0 5px;
  border-radius: 2px;
}

.header .header-right .login a:first-child {
  color: #fff;
  border: 1px solid #158fe1;
  background-color: #158fe1;
}

.header .header-right .login a:last-child {
  border: 1px solid #dbdbdb;
}

.nav {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #2c323b;
  z-index: 10;
}

.nav .nav-l {
  width: 1000px;
  height: 55px;
  line-height: 55px;
  margin: 0 auto;
}

.nav .nav-l .nav-left {
  position: relative;
  float: left;
  font-size: 16px;
}

.nav .nav-l .nav-left > li {
  display: inline-block;
  height: 55px;
}

.nav .nav-l .nav-left > li a {
  color: #ddd;
  padding: 0 20px;
}

.nav .nav-l .nav-left > li:last-child > a {
  color: #ddd;
  padding: 0 38px;
  background: url(http://static.kgimg.com/public/root/images/arrowMored.png) no-repeat no-repeat 80px;
}

.nav .nav-l .nav-left > li:last-child .gengduo {
  display: none;
  position: absolute;
  background-color: #252a32;
}

.nav .nav-l .nav-left > li:last-child .gengduo li {
  text-align: center;
  width: 108px;
  height: 36px;
  line-height: 36px;
}

.nav .nav-l .nav-left > li:last-child:hover .gengduo {
  display: block;
}

.nav .nav-l .nav-left > li:last-child:hover > a {
  background: url(http://static.kgimg.com/public/root/images/arrowMoreu.png) no-repeat no-repeat 80px;
}

.nav .nav-l .nav-left > li:hover {
  background-color: #0c8ed9;
  color: #fff;
}

.nav .nav-l .nav-right {
  float: right;
}

.nav .nav-l .nav-right li {
  display: inline-block;
  margin-left: 30px;
}

.nav .nav-l .nav-right li a {
  color: #bbb;
  font-size: 13px;
  padding-left: 20px;
  background: url(http://static.kgimg.com/public/root/images/sprite.png);
}

.nav .nav-l .nav-right li a:hover {
  color: #14a9ff;
}

.nav .nav-l .nav-right li:first-child a {
  background-position: 0 -119px;
}

.nav .nav-l .nav-right li:first-child a:hover {
  background-position: 0 -101px;
}

.nav .nav-l .nav-right li:nth-child(2) a {
  background-position: 0 -155px;
}

.nav .nav-l .nav-right li:nth-child(2) a:hover {
  background-position: 0 -137px;
}

.nav .nav-l .nav-right li:nth-child(3) a {
  background-position: 0 -191px;
}

.nav .nav-l .nav-right li:nth-child(3) a:hover {
  background-position: 0 -173px;
}

.nav .nav-l .nav-right li:nth-child(4) a {
  background-position: 0 -226px;
}

.nav .nav-l .nav-right li:nth-child(4) a:hover {
  background-position: 0 -208px;
}

.nav .nav-l .nav-right li:last-child a {
  background-position: 0 -281px;
}

.nav .nav-l .nav-right li:last-child a:hover {
  background-position: 0 -245px;
}

.container {
  position: relative;
  width: 100%;
  height: 560px;
  background: url(http://singerimg.kugou.com/uploadpic/softhead/400/20150729/20150729150831166970.jpg) no-repeat;
  background-size: cover;
  z-index: 9;
}

.container .shadow {
  position: absolute;
  width: 100%;
  height: 638px;
  background-color: #000;
  opacity: .9;
  z-index: 10;
}

.container .shadow1 {
  position: absolute;
  width: 100%;
  height: 638px;
  background: rgba(0, 0, 0, 0.3);
  opacity: .6;
  z-index: 11;
}

.container .content {
  position: absolute;
  left: 50%;
  width: 840px;
  height: 450px;
  margin-left: -390px;
  z-index: 12;
}

.container .content .content-left {
  width: 262px;
  float: left;
}

.container .content .content-left img {
  width: 260px;
  height: 260px;
  margin-top: 10px;
  opacity: 1;
}

.container .content .content-left a {
  display: block;
  width: 230px;
  height: 50px;
  background: url(http://www.kugou.com/yy/static/images/play/downlaod_bg.png) no-repeat;
  margin-top: 30px;
  margin-left: 15px;
}

.container .content .content-left a:hover {
  background-position: -231px 0;
}

.container .content .content-right {
  width: 460px;
  min-height: 500px;
  float: right;
}

.container .content .content-right > p {
  margin-top: 10px;
  float: left;
  width: 460px;
  color: #fff;
  font-size: 24px;
}

.container .content .content-right > p:nth-child(2) {
  font-size: 15px;
  color: #fff;
  margin-bottom: 30px;
}

.container .content .content-right > p:nth-child(2) span {
  opacity: .6;
}

.container .content .content-right .geci {
  position: relative;
  width: 460px;
  height: 400px;
  overflow: hidden;
}

.container .content .content-right .geci .geci-zhu {
  position: absolute;
  top: 0;
  width: 480px;
  color: #ccc;
  transition: top 500ms;
}

.container .content .content-right .geci .geci-zhu p {
  width: 420px;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
}

.container .content .content-right .geci .gun {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 30px;
  border-radius: 4px;
  background-color: #fff;
  opacity: .2;
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #000;
  opacity: .6;
  z-index: 9999;
  box-shadow: 0 -10px 20px #403f3f;
  transition: bottom 0.6s linear;
}

.controls .controls-zhu {
  width: 960px;
  height: 80px;
  margin: 0 auto;
}

.controls .controls-zhu .controls-left {
  float: left;
  width: 160px;
  height: 80px;
  line-height: 80px;
}

.controls .controls-zhu .controls-left a {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
}

.controls .controls-zhu .controls-left a:first-child {
  background-position: 0 -143px;
}

.controls .controls-zhu .controls-left a:nth-child(2) {
  width: 60px;
  height: 60px;
}

.controls .controls-zhu .controls-left a:nth-child(3) {
  background-position: -144px -143px;
}

.controls .controls-zhu img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.controls .controls-zhu .controls-bar {
  float: left;
  width: 370px;
  height: 80px;
  margin-left: 10px;
}

.controls .controls-zhu .controls-bar .songer {
  color: #c4c3c3;
  width: 370px;
  height: 34px;
  font-family: Microsoft Yahei, '\5b8b\4f53', Arial, Verdana;
  font-size: 13px;
  padding-top: 18px;
}

.controls .controls-zhu .controls-bar .songer .time {
  float: right;
  color: #fff;
  font-size: 12px;
  font-family: Tahoma, Arial, Verdana;
}

.controls .controls-zhu .controls-bar .songer .time i {
  font-style: normal;
}

.controls .controls-zhu .controls-bar .bar {
  position: relative;
  width: 370px;
  height: 3px;
  background-color: #ddd;
}

.controls .controls-zhu .controls-bar .bar .tiao {
  width: 0px;
  height: 3px;
  background-color: #4285f4;
}

.controls .controls-zhu .controls-bar .bar .qiu {
  position: absolute;
  top: -5px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.controls .controls-zhu .controls-right {
  float: left;
  width: 260px;
  height: 80px;
  line-height: 80px;
  margin-left: 30px;
}

.controls .controls-zhu .controls-right .song {
  position: relative;
  float: left;
  margin-right: 30px;
}

.controls .controls-zhu .controls-right .song span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
}

.controls .controls-zhu .controls-right .song span:hover {
  background-position: -80px -195px;
}

.controls .controls-zhu .controls-right .song .song-1 {
  display: none;
  position: absolute;
  top: -100px;
  left: -5px;
  width: 25px;
  height: 100px;
  border: 1px solid red;
  background-color: #000;
  z-index: 99999;
}

.controls .controls-zhu .controls-right .song .song-1 .song-bar {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 3px;
  height: 86px;
  background-color: #51555c;
}

.controls .controls-zhu .controls-right .song .song-1 .song-bar .song-bar-tiao {
  position: absolute;
  bottom: 0;
  width: 3px;
  height: 43px;
  background-color: red;
}

.controls .controls-zhu .controls-right .song .song-1 .song-bar .song-bar-qiu {
  position: absolute;
  bottom: 43px;
  left: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: blue;
}

.controls .controls-zhu .controls-right .xunhuan {
  position: relative;
  float: left;
  margin-right: 30px;
}

.controls .controls-zhu .controls-right .xunhuan > a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
  background-position: -64px -179px;
}

.controls .controls-zhu .controls-right .xunhuan ul {
  display: none;
  position: absolute;
  top: -100px;
  height: 95px;
  background: url(http://www.kugou.com/yy/static/images/play/play_style.png) no-repeat;
}

.controls .controls-zhu .controls-right .xunhuan ul li {
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #30343d;
}

.controls .controls-zhu .controls-right .xunhuan ul li a {
  color: #fff;
}

.controls .controls-zhu .controls-right .xunhuan ul li span {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
  background-position: -64px -179px;
}

.controls .controls-zhu .controls-right .xunhuan ul li:nth-child(2) span {
  background-position: 0 -179px;
}

.controls .controls-zhu .controls-right .xunhuan ul li:nth-child(3) span {
  background-position: -128px -179px;
}

.controls .controls-zhu .controls-right .xiazai {
  position: relative;
  float: left;
  margin-right: 30px;
}

.controls .controls-zhu .controls-right .xiazai a {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
  background-position: -240px -32px;
}

.controls .controls-zhu .controls-right .zhuan {
  position: relative;
  float: left;
  margin-right: 30px;
}

.controls .controls-zhu .controls-right .zhuan a {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
  background-position: -240px 0;
}

.controls .controls-zhu .controls-right .gedan {
  position: relative;
  float: right;
  margin-right: 8px;
}

.controls .controls-zhu .controls-right .gedan a {
  display: inline-block;
  width: 60px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
  background-position: 0 -120px;
}

.controls > span {
  position: absolute;
  top: -12px;
  right: 100px;
  width: 16px;
  height: 16px;
  background: url(http://www.kugou.com/yy/static/images/play/btn.png) no-repeat;
  background-position: -172px -211px;
  background-color: #000;
}

.controls .controls-zhu .controls-left .active {
  background-position: -60px 0;
}

.controls .controls-zhu .controls-left .active1 {
  background-position: 0 -60px;
}

.controls .controls-zhu .controls-right .song .active2 {
  background-position: -64px -195px;
}

.controls .controls-zhu .controls-right .song .active3 {
  background-position: -128px -195px;
}

.controls .controls-zhu .controls-right .xunhuan ul li .active4 {
  color: #19b5f0;
}

.controls .active5 {
  background-position: -246px -211px;
}

.active6 {
  bottom: -80px;
}

.active7 {
  color: red;
}
